.print-logo {
    width: 150px;
    margin: 0 1% 30px 1%;
    display: block;
}
.dxchart {
     width: 100%;
     margin: 0 auto;
    display: block; 
}
.dxc-labels{
  opacity: 1;
  transform: translate(0,0);
}
.dxc-labels g{
  visibility: visible;
}
.header.expand, nav, .footer{
  display:none;
}
