/* -------------------------------- 

Header

-------------------------------- */
.navbar {
  margin-left: 0px;
  height: 64px;
  padding-right: 40px;
  transition: all 0.3s ease-in-out;
}

.navbar.collapse {
  margin-left: 0;
  display: block !important;
  transition: all 0.3s ease-in-out;
}

.navbar-header {
  width: 100%;
  position: absolute;
}

.navbar .navbar-brand {
  font-size: 16px;
  float: right;
  display: none;
  padding-right: 300px;
}

@media only screen and (min-width: 1168px) {
  .navbar .navbar-brand {
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }
  .navbar .navbar-brand.enable {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
}

.navbar ul li i {
  padding-right: 4px;
  font-size: 24px;
  vertical-align: middle;
}

.navbar .navbar-brand .mkt-title {
  display: none;
}

@media (min-width: 1300px) {
  .navbar .navbar-brand .mkt-title {
    display: inline-block;
  }
}

.cd-select {
  display: inline-block;
  position: absolute;
  left: 13px;
  top: 12px;
  bottom: auto;
  color: #5c5d6a;
  font-size: 1.4rem;
}

@media only screen and (min-width: 991px) {
  .navbar {
    margin-left: 260px;
  }
  .cd-select {
    left: 60px;
  }
}

.select-item {
  display: inline-block;
  position: relative;
}

.select-item.market.main-market {
  opacity: 0;
  pointer-events: none;
}

.select-item.market.main-market.enable {
  opacity: 1;
  pointer-events: all;
}

.select-item.subvert {
  display: none;
}

.select-item.subvert.enable {
  display: inline-block;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/*tooltip Box*/
.con-tooltip {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  cursor: default;
}

/*tooltips */
.tooltip {
  z-index: 10000;
  opacity: 0;
  width: 100%;
  padding: 10px 10px 0 10px;
  background: #333;
  color: #fff;
  position: absolute;
  top: 50px;
  left: 0;
  text-align: center;
  pointer-events: none;
  border-radius: 4px;
  font: 16px;
  transform: translateY(9px);
  box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}

.tooltip.invalid {
  opacity: 1;
  width: 100%;
  padding-top: 10px;
  background: rgba(243, 75, 62, 1);
  color: #fff;
  top: 32px;
  left: 0;
  transition: opacity 0.3s ease-in-out;
}

.tooltip.invalid p {
  font-size: 14px;
}

/* tooltip  after*/
.tooltip::after {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: #333 transparent transparent transparent;
  position: absolute;
  left: 40%;
  top: -10%;
  transform: rotate(180deg);
}

.tooltip.invalid::after {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: rgba(243, 75, 62, 1) transparent transparent transparent;
  position: absolute;
  left: 45%;
  top: -8px;
  transform: rotate(180deg);
}

.tooltip.show {
  transition: 0.3s linear;
  animation: bounce 1s ease-in-out infinite alternate,
    fadein 6s ease-in-out 1s forwards;
}
@keyframes bounce {
  0% {
    transform: translateY(6px);
  }

  100% {
    transform: translateY(1px);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    z-index: 0;
  }
}

.subvert .ui.selection.dropdown {
  min-width: 12em;
}

select {
  background-color: transparent;
  cursor: pointer;
}

select option:disabled {
  display: none !important;
}

.ui.default.dropdown:not(.button) > .text,
.ui.dropdown:not(.button) > .default.text,
.ui.selection.dropdown > .dropdown.icon {
  color: #888 !important;
}
.ui.selection.dropdown {
  border: 1px solid rgba(34, 36, 38, 0.2) !important;
  min-width: 11em;
}
.ui.selection.dropdown.invalid {
  border: 1px solid rgba(243, 75, 62, 0.6) !important;
}
.ui.dropdown .menu > .item {
  color: #888;
  font-size: 1.3rem;
}
.ui.dropdown .menu > .item:hover {
  color: #777;
}
input:required,
textarea:required {
    border-color: #d76666!important;
}
select,
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
}

@media only screen and (min-width: 1024px) {
  select {
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    color: transparent;
  }
  select,
  .selected-value {
    padding: 0.5em 1.7em 0.5em 0.3em;
    font-size: 1.4rem;
    border-radius: 3px;
  }
}

@media (min-width: 992px) {
  .typo-line {
    padding-left: 140px;
    margin-bottom: 40px;
    position: relative;
  }

  .typo-line .category {
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    position: absolute;
  }
}

.all-icons [class*="pe-"] {
  font-size: 40px;
}
.all-icons input {
  border: 0;
}
.all-icons .font-icon-detail {
  text-align: center;
  padding: 45px 0 30px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  margin: 15px 0;
}
.all-icons .font-icon-detail input {
  margin: 25px auto 0;
  width: 100%;
  text-align: center;
  display: block;
  color: #aaa;
  font-size: 13px;
}

.places-buttons .btn {
  margin-bottom: 30px;
}
.sidebar .nav > li.active-pro {
  position: relative;
  width: 100%;
  bottom: 0;
}
.sidebar .nav > li.active-pro a {
  background: rgba(255, 255, 255, 0.14);
  opacity: 1;
  color: #ffffff;
}
.sidebar .nav p {
  font-size: 11px;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3) {
  text-align: center;
}
.logo-img,
.login-img {
  padding: 40px;
  margin-left: 20px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/532833/advantageheader.png");
  background-size: 200px 80px;
  background-repeat: no-repeat;
}

.login-logo {
  padding-top: 30px;
}

.login-logo .login-img {
  padding: 40px;
  margin: 0 auto;
  width: 200px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/532833/advantageheader.png");
  background-size: 200px 80px;
  background-repeat: no-repeat;
}

/* -------------------------------- 

Login 

-------------------------------- */
.login-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.92);
  z-index: 3;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -moz-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}
.login-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
}
.login-user-modal.is-visible .login-user-modal-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.login-user-modal-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #fff;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.login-user-modal-container.new {
  max-width: 800px;
  margin-top: 3em;
}
.login-user-modal-container .login-switcher:after {
  content: "";
  display: table;
  clear: both;
}
.login-user-modal-container .login-switcher.disabled {
  display: none;
}
.login-user-modal-container .login-switcher li {
  width: 25%;
  float: left;
  text-align: center;
  list-style: none;
}
.login-user-modal-container .login-switcher li:first-child a {
  border-radius: 0.25em 0 0 0;
}
.login-user-modal-container .login-switcher li:last-child a {
  border-radius: 0 0.25em 0 0;
}
.login-user-modal-container .login-switcher a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #d2d8d8;
  color: #809191;
  text-decoration: none;
}
.login-user-modal-container .login-switcher a.selected {
  background: #fff;
  color: #505260;
}
@media only screen and (min-width: 600px) {
  .login-user-modal-container {
    margin: 15% auto;
  }
  .login-user-modal-container .login-switcher a {
    height: 70px;
    line-height: 70px;
  }
}

.login-form {
  padding: 1.4em;
}
.login-form .fieldset {
  position: relative;
  margin: 1.4em 0;
}
.login-form .fieldset:first-child {
  margin-top: 0;
}
.login-form .fieldset:last-child {
  margin-bottom: 0;
}
#login-new-user .fieldset,
#login-manage-user .fieldset,
#login-new-customer .fieldset,
#login-manage-customer .fieldset {
  margin: 0.5em 0;
}
.login-form label {
  font-size: 14px;
  font-weight: normal;
}
.login-form label.image-replace {
  /* replace text with an icon */
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: auto;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.login-form label.login-username {
  background-image: url("../img/login-icon-username.svg");
}
.login-form label.login-email {
  background-image: url("../img/login-icon-email.svg");
}
.login-form label.login-password {
  background-image: url("../img/login-icon-password.svg");
}
.login-form span.login-version {
  font-size: 10px;
  font-weight: normal;
  position: absolute;
  bottom: 0px;
  left: 5px;
  padding: 10px;
}
.login-form input,
textarea {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}
.login-form input.disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.45;
}
.login-form input::-ms-clear,
textarea::-ms-clear {
  display: none;
}
.login-form input,
.login-user-modal input.search {
  margin: 0;
  padding: 0;
  border-radius: 0.25em !important;
}
.login-user-modal input.search {
  padding: 18px 20px 20px 50px !important;
}
.login-form .dropdown.icon {
  top: 1.3em !important;
}
.login-form input.full-width,
.login-user-modal .ui.search.selection.dropdown.full-width {
  width: 100%;
}
.login-form input.half-width {
  width: 50%;
}
.login-user-modal .ui.search.dropdown.full-width.has-border.selection.multiple {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 50px;
}
.login-user-modal
  .ui.search.dropdown.full-width.has-border.selection.multiple
  > .dropdown.icon {
  margin-top: -14px;
}
.login-user-modal
  .ui.search.dropdown.full-width.has-border.selection.multiple
  > input.search {
  padding: 0 !important;
}
.ui.multiple.dropdown > .label {
  font-size: 0.95em;
}
.ui.label.transition.visible {
  margin-top: 3px;
}
.login-form input.has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.login-form input.has-border:focus {
  border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}
.login-form input.has-error {
  border: 1px solid #d76666;
}
.login-form input[type="password"] {
  /* space left for the HIDE button */
  padding-right: 65px;
}
.login-form input[type="submit"] {
  padding: 16px 0;
  cursor: pointer;
  background: #2f889a;
  color: #fff;
  font-weight: bold;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.no-touch .login-form input[type="submit"]:hover,
.no-touch .login-form input[type="submit"]:focus {
  background: #3599ae;
  outline: none;
}
.login-form input.delete {
  background: rgba(236, 77, 65, 0.9);
  padding: 5px !important;
  margin: 5px;
  float: right;
}
.login-form input.delete:hover,
.login-form input.delete:focus {
  background: rgba(236, 77, 65, 1) !important;
}
.login-form .hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 15px;
  border-left: 1px solid #d2d8d8;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
  color: #343642;
}
.login-form .login-error-message {
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: -35px;
  background: rgba(215, 102, 102, 0.9);
  padding: 0.8em;
  z-index: 2;
  color: #fff;
  font-size: 13px;
  border-radius: 0.25em;
  /* prevent click and touch events */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
  -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
  transition: opacity 0.2s 0, visibility 0 0.2s;
}
.login-error-message.long {
  bottom: -62px;
}
.login-form .login-error-message::after {
  /* triangle */
  content: "";
  position: absolute;
  left: 22px;
  bottom: 100%;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}
.login-form .login-error-message.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s 0, visibility 0 0;
  -moz-transition: opacity 0.2s 0, visibility 0 0;
  transition: opacity 0.2s 0, visibility 0 0;
  	animation-name: errorPullDown;
	-webkit-animation-name: errorPullDown;	
	animation-duration: 3s;	
	-webkit-animation-duration: 3s;
	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%; 
}
.login-form-message.hidden {
  display: none;
}
.login-form-message.success {
    position: fixed;
    display: block !important;
    width: 100%;
    text-align: center;
    z-index: 1000;
    margin: 0 auto;
    background: rgba(110, 187, 110, 0.9);
    border-radius: 0;
    padding: 20px;
    color: #fff;
    font-size: 16px;
}
@keyframes errorPullDown {
	0% {
		transform: scale(0.1, 0.1);
	}
	10% {
		transform: scale(1.02, 1.02);
	}
	12% {
		transform: scale(0.98, 0.95);
	}
	14% {
		transform: scale(1.01, 1.01);
	}
	16% {
		transform: scale(0.95, 0.95);
	}				
	14% {
		transform: scale(1.01, 1.01);
	}
	16% {
		transform: scale(1, 1);
	}
	90% {
		transform: scale(1, 1);
	}
  94% {
		transform: scale(1.05, 1.05);
	}
	100% {
		transform: scale(0, 0);
	}	
}
@-webkit-keyframes errorPullDown {
	0% {
		-webkit-transform: scale(0.1, 0.1);
	}
	10% {
		-webkit-transform: scale(1.02, 1.02);
	}
	12% {
		-webkit-transform: scale(0.95, 0.95);
	}
	14% {
		-webkit-transform: scale(1.01, 1.01);
	}
	16% {
		-webkit-transform: scale(0.95, 0.95);
	}				
	14% {
		-webkit-transform: scale(1.01, 1.01);
	}
	16% {
		-webkit-transform: scale(1, 1);
	}
	90% {
		-webkit-transform: scale(1, 1);
	}
  94% {
		-webkit-transform: scale(1.05, 1.05);
	}
	100% {
		-webkit-transform: scale(0, 0);
	}	
}
@media only screen and (min-width: 600px) {
  .login-form {
    padding: 3em;
  }
  .login-form .fieldset {
    margin: 2em 0;
  }
  .login-form .fieldset:first-child {
    margin-top: 0;
  }
  .login-form .fieldset:last-child {
    margin-bottom: 0;
  }
  #login-new-user .fieldset {
    margin: 0.5em 0;
  }
  .login-form input.has-padding {
    padding: 16px 20px 16px 50px;
  }
  .login-user-modal .ui.search.selection.dropdown.has-padding {
    padding: 20px 20px 20px 50px;
  }
  .login-form input[type="submit"] {
    padding: 16px 0;
  }
}

.login-form-message {
  padding: 1.4em 1.4em 0;
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  .login-form-message {
    padding: 3em 2em 0;
    margin: 0;
  }
}

.login-form-bottom-message {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -45px;
  text-align: center;
  font-size: 16px;
}
.login-form-bottom-message a {
  color: #fff;
  text-decoration: underline;
}

.login-close-form {
  /* form X button on top right */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  background: url("../img/login-icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#login-login,
#login-change-password,
#login-reset-password,
#login-new-user,
#login-manage-user,
#login-new-customer,
#login-manage-customer {
  display: none;
}

#login-login.is-selected,
#login-change-password.is-selected,
#login-reset-password.is-selected,
#login-new-user.is-selected,
#login-manage-user.is-selected,
#login-new-customer.is-selected,
#login-manage-customer.is-selected {
  display: block;
}

/* -------------------------------- 

Main Dashboard Content

-------------------------------- */

.main-panel {
  z-index: 0;
}
.card {
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(63, 63, 68, 0.1);
}

.card .content {
  padding: 15px;
}

.content .placeholder {
  width: 100%;
  padding: 15px;
}

.content .placeholder.disabled {
  display: none;
}

.card .footer hr {
  margin-bottom: 10px;
}

.card .subvert-title {
  padding: 1em 2em;
  background-color: #3f8db7;
  border-radius: 5px 5px 0 0;
}

.card .subvert-title h3 {
  font-size: 22px;
  color: #ffffff;
}

.card .subvert-details {
  padding: 2em;
  border-radius: 0 0 5px 5px;
  background-color: #ffffff;
}

.card.subvert {
  opacity: 0;
  animation: pullDown 0.6s ease-out 0.5s forwards;
  -webkit-animation: pullDown 0.6s ease-out 0.5s forwards;
  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}

.card.reports {
  opacity: 0;
  animation: pullDown 0.6s ease-out 0.5s forwards;
  -webkit-animation: pullDown 0.6s ease-out 0.5s forwards;
  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}

.card .reports-title {
  padding: 1em 2em;
  background-color: #3f8db7;
  border-radius: 5px 5px 0 0;
}

.card .reports-title h3 {
  font-size: 22px;
  color: #ffffff;
}

.card .reports-details {
  padding: 2em;
  border-radius: 0 0 5px 5px;
  background-color: #ffffff;
}

.card.pdf {
  border-radius: 0;
}
.card.pdf .pdfview {
  width: 100%;
  height: 1000px;
  frameborder: "0";
}

@keyframes pullDown {
  0% {
    opacity: 1;
    transform: scaleY(0.1);
  }
  40% {
    opacity: 1;
    transform: scaleY(1.02);
  }
  60% {
    opacity: 1;
    transform: scaleY(0.98);
  }
  80% {
    opacity: 1;
    transform: scaleY(1.01);
  }
  100% {
    opacity: 1;
    transform: scaleY(0.98);
  }
  80% {
    opacity: 1;
    transform: scaleY(1.01);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@-webkit-keyframes pullDown {
  0% {
    -webkit-transform: scaleY(0.1);
  }
  40% {
    -webkit-transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}

/* -------------------------------- 

Home Widget Controls

-------------------------------- */

.home-header {
  padding: 0 1em 1em 1em;
  margin-top: -1em;
}
.home-header i {
  padding-right: 13px;
  vertical-align: middle;
  font-size: 48px;
}

.widget-header {
  padding: 1em 1em;
  background-color: #3f8db7;
  border-radius: 5px 5px 0 0;
}

.widget-header h4 {
  color: #fff;
  font-weight: 300;
  margin: 0;
}

.widget-content {
  padding: 10px 20px 20px 20px;
}

.widget-content li {
  text-decoration: none;
  list-style: none;
  font-size: 16px;
}

.widget-content .ui.selection.dropdown,
.widget-content .select-item {
  width: 100%;
}

.dxchart.dxtable.dx-widget {
  height: 462px;
  margin-top: -15px;
}
.dxtable.dx-widget {
  margin-top: -15px;
}

.dxchart.dxtable.widget {
  height: 697px;
}

.dxchart.widget {
  height: 284px;
}

.dxchart.bar {
  height: 448px;
}

.print-logo {
    width: 150px;
    margin: 15px 40%;
    padding-top: 30px;
    display: block;
}

.print-logo.compare {
    margin: 0 5%;
}




/* -------------------------------- 

Sub Vertical Selector

-------------------------------- */
.vert-group {
  margin: 12px;
}

.vert-group .btn {
  color: #ffffff;
  background-color: #4183b7;
  border: none;
  font-size: 13px;
  margin: 2px 5px;
  border-radius: 3px !important;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale;
}

/* -------------------------------- 

Charts

-------------------------------- */

section {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 12px 10px 12px;
}

.card.expand {
  position: absolute;
  margin-left: -15px;
  padding-bottom: 6px;
  z-index: 1001;
  width: 100%;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 30px 85px;
  -moz-transform-origin: 30px 85px;
  -o-transform-origin: 30px 85px;
  -ms-transform-origin: 30px 85px;
  transform-origin: 30px 85px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.card.expand.adSpendCompare,
.card.expand.digSpendCompare {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.card.expanded {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.content.expand,
.header.expand {
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.content.expanded,
.header.expanded {
  opacity: 1;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.dxchart {
  width: 100%;
  height: 400px;
  margin-top: 10px;
}
.dxchart.collapse {
  width: calc(100% - 1px);
  display: block !important;
}
.dxchart.hidden {
  visibility: hidden;
}

.dxchart.disabled {
  display: none;
}

.dxchart.noyear {
  margin-top: -8px;
}
/*
.dxchart.dxtable {
  margin-top: 45px;
}
*/
.dxchart.bar {
  margin-top: -7px;
}

.dx-widget {
  text-align: center;
}
/*
.dx-toolbar-items-container {
  position: absolute;
  margin-top: -45px;
  right: 10px;
  width: 0;
}
*/
#buttonGroup {
  position: absolute;
  top: 20px;
  right: 50px;
}

#buttonGroup.subvert {
  top: 40px;
}

#vertBreakdown {
  min-height: 460px;
}

.table-button {
  position: absolute;
  top: 68px;
  left: 40px;
  border: 1px solid #ddd;
  border-radius: 0.25em;
  padding: 5px 6px 0 6px;
  font-size: 20px;
  z-index: 1002;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.table-button.disabled {
  z-index: 0;
}
.table-button i {
  font-size: 25px;
  width: 25px;
}
.table-button:hover {
  background: rgba(0, 0, 0, 0.1);
  border-color: #ccc;
}
.table-button.clicked {
  background: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 1px 1px 1px rgba(169, 169, 169, 1);
  -moz-box-shadow: inset 1px 1px 1px 0 rgba(169, 169, 169, 1);
  box-shadow: inset 1px 1px 1px 0 rgba(169, 169, 169, 1);
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.negative {
  color: #f00;
  padding-right: 12px !important;
}

.positive {
  color: #2ab71b;
  padding-right: 12px !important;
}

.negative:after,
.positive:after {
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  position: relative;
  float: right;
  right: -2px;
  top: 4px;
  background-repeat: no-repeat;
  background-size: 10px 10px;
}

.negative:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAADJSURBVHjaYvzPgBfgkhYA4o8QFahKmBioDEYNHIQGsgBxIBCLkqgvAYi/g1mMjMjir0EJzR6If/6HpChKMMgMe3DKBeIcKhiY8x/MYoDj+RQYNgdkGLqBbEB8kgzDToL1YjEQhKWB+BUJhj0H64Eahs1AELYhMpJ+gtUiGYbLQBBOI8LANLBaIg1kAAc0vkiAqSPBQFAkHcNi2DGoHMkGgrAENOCRI0ECRQ2JBoKwJTQCfkLZDPgMZPxPXN5NhtJzMSsJVBMAAgwAyWSY2svfmrwAAAAASUVORK5CYII=");
}

.positive:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAADKSURBVHjaYtTaLs1ABEiG0nPRJa56PEHhsxBhmCUQT4OyrwHxcXyKmQgYJgHE64CYDYrXQcXIMhCbAcgWkGzgNKh38QUB0QamIUUErkhKI9ZAGyCeTERkTYaqxWsgKA2txhdG6GGsvUNGGpeBRMUiGhCFGsqGzUBQQJsxkA5AemaiG5hDIBIIgQSgK0FmMDACs549kN5FZLjhA7+A2A2U9YSAOBeLAk4gnoBDczoOcSFGPIUDPxB/wCHHiKtwYGKgMhg1cBAaCBBgAJTUIL3ToPZfAAAAAElFTkSuQmCC");
}

.coverage-map {
  position: relative;
  width: 100%;
  height: 498px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

/* -------------------------------- 

Year Selector

-------------------------------- */
nav[role="navigation"] {
  text-align: center;
}

.cd-pagination {
  width: 50%;
  max-width: 768px;
  position: relative;
  text-align: center;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  padding: 0;
}
.cd-pagination.vert {
  margin-bottom: 10px;
}
.cd-pagination.vertBreak {
  margin-bottom: 18px;
}

.cd-pagination li {
  /* hide numbers on small devices */
  display: none;
  margin: 0 0.1em;
}
.cd-pagination li.button {
  /* make sure prev next buttons are visible */
  display: inline-block;
}
.cd-pagination a,
.cd-pagination span {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* use padding and font-size to change buttons size */
  padding: 0.2em 0.8em;
  font-size: 1.6rem;
}
.cd-pagination a {
  border: 1px solid #ddd;
  border-radius: 0.25em;
}
.no-touch .cd-pagination a:hover {
  background-color: #f2f2f2;
}
.cd-pagination a:active {
  /* click effect */
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
}
.cd-pagination li.year {
  /* button enabled */
  display: inline-block;
}
.cd-pagination .disabled {
  opacity: 0;
  pointer-events: none;
}

.cd-pagination .button:first-of-type a::before {
  content: "\00ab";
}
.cd-pagination .button:last-of-type a::after {
  content: "\00bb";
}
.cd-pagination .current {
  /* selected number */
  background-color: #3498db;
  border-color: #2b89c7;
  color: #ffffff !important;
  pointer-events: none;
}
@media only screen and (min-width: 768px) {
  .cd-pagination li {
    display: inline-block;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-pagination {
    margin: 0 auto;
  }
}

.cd-pagination.move-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-pagination.move-buttons .button:first-of-type {
  float: left;
}
.cd-pagination.move-buttons .button:last-of-type {
  float: right;
}

.cd-pagination.no-space.move-buttons {
  width: 90%;
  max-width: 768px;
  display: block;
  overflow: hidden;
}
.cd-pagination.no-space.move-buttons li {
  float: none;
  border: none;
}
.cd-pagination.no-space.move-buttons a,
.cd-pagination.no-space.move-buttons span {
  float: none;
}

.cd-pagination.custom-icons .button a {
  position: relative;
}
.cd-pagination.custom-icons .button:first-of-type a {
  padding-left: 2.4em;
}
.cd-pagination.custom-icons .button:last-of-type a {
  padding-right: 2.4em;
}
.cd-pagination.custom-icons .button:first-of-type a::before,
.cd-pagination.custom-icons .button:last-of-type a::after {
  content: "";
  position: absolute;
  display: inline-block;
  /* set size for custom icons */
  width: 16px;
  height: 16px;
  top: 50%;
  /* set margin-top = icon height/2 */
  margin-top: -8px;
  background: transparent
    url("../img/icon-arrow-1.svg")
    no-repeat center center;
}
.cd-pagination.custom-icons .button:first-of-type a::before {
  left: 0.8em;
}
.cd-pagination.custom-icons .button:last-of-type a::after {
  right: 0.8em;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.cd-pagination.custom-buttons a,
.cd-pagination.custom-buttons span {
  vertical-align: middle;
}
.cd-pagination.custom-buttons .button a {
  /* set custom width */
  width: 25px;
  /* image replacement */
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  color: transparent;
  border: none;
  background-image: url("../img/icon-arrow-2.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.cd-pagination.custom-buttons .button:last-of-type {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.cd-pagination.no-space.custom-buttons .button:last-of-type a {
  border-radius: 0.25em 0 0 0.25em;
}
.cd-pagination.custom-buttons .year a {
  color: #a9a9a9;
  text-decoration: none;
  pointer-events: none;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}

/* -------------------------------- 

Reports & Webinars / US ad Forcast / Ad Survey Styles

-------------------------------- */

.vc_separator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.vc_separator .vc_sep_holder {
  height: 2px;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 10%;
}
.vc_separator .vc_sep_holder .vc_sep_line {
  height: 2px;
  border-top: 2px solid #ebebeb;
  display: block;
  position: relative;
  top: 1px;
  width: 100%;
}
.vc_separator h4 {
  line-height: 1em;
  margin: 0;
  word-wrap: break-word;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  padding: 0 0.8em;
}
.vc_column-inner {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
}
.vc_column-inner::after,
.vc_column-inner::before {
  content: " ";
  display: table;
}
.wpb_single_image .vc_figure {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  max-width: 100%;
}
.wpb_single_image .vc_single_image-wrapper {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}
.wpb_single_image img {
  height: auto;
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  vertical-align: top;
}
#usadforecastcontent .wpb_single_image img {
  border-radius: 10px;
}
.wpb_single_image.wpb_content_element {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.16), 0 0px 5px rgba(0, 0, 0, 0.23);
  border-radius: 10px 10px 0 0;
}
#usadforecastcontent .wpb_single_image.wpb_content_element {
  border-radius: 10px;
}
#reportsContent .wpb_text_column.wpb_content_element {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.16), 0 0px 5px rgba(0, 0, 0, 0.23);
  border-radius: 0 0 10px 10px;
  padding: 2em 2em 4em 2em;
}
.wpb_wrapper p {
  color: #696969;
}

.wpb_wrapper h1 {
  font-size: 1.5em;
  margin: 0 0 20px;
}
.theme-button {
  background: #4a97c2;
  color: #fff;
  padding: 1em;
  margin: 0;
  display: inline-block;
  font-size: 0.923em;
  font-weight: normal;
  color: #fff;
  outline: none;
  cursor: pointer;
  outline: none;
  border: none;
  font-family: inherit;
  -webkit-appearance: none;
  transition: all 0.15s ease-in-out;
  border-radius: 10px 0 10px 0;
  -webkit-font-smoothing: inherit;
  text-decoration: none !important;
  left: 15em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 5px, rgba(0, 0, 0, 0.23) 0px 0px 5px;
  margin-top: -44px;
  float: right;
}
.vcex-icon-wrap {
  padding: 0 2px;
}
.vc_btn3-container.vc_btn3-center {
  text-align: center;
}
.vc_btn3 {
  color: #fff;
  border-color: #5aa1e3;
  background-color: #5aa1e3;
  font-size: 11px;
  padding: 8px 12px;
  border-radius: 5px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2) 0,
    rgba(255, 255, 255, 0.01) 100%
  );
  background-repeat: repeat-x;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
